* {
  margin: 0;
}

.ig {
  background-color: #fafafa;

}
.ig__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}

.ig__signup {
  display: flex;
  flex-direction: column;
}
.ig__poststyle{
  display:flex;
  justify-content: center;
  padding: 20px;
  flex-direction: row;
}
.ig__postright{
  margin-left: 40px;
}